{
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false,
  "attributeGroups": [
    "^(id|name)$",
    "^app",
    "data-testid",
    "tabindex",
    "$ALT",
    "$ARIA",
    "$ROLE",
    "$TYPE",
    "$CLASS"
  ],
  "attributeSort": "ASC"
}
