.markdown-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 1rem;
    text-decoration: none;
    color: #000000;
    a {
        color: #2c2c2c;
    }
}

/* 見出しのスタイル */
.markdown-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.markdown-content h2 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
}

.markdown-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.markdown-content h4 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

/* パラグラフのスタイル */
.markdown-content p {
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
}

/* リンクのスタイル */
.markdown-content a {
    /*color: #2c2c2c;*/
    text-decoration: none;
}

.markdown-content a:hover {
    text-decoration: underline;
}

/* リストのスタイル */
.markdown-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.markdown-content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

/* テーブルのスタイル */
.markdown-content table {
    width: 100%;
    border-collapse: collapse;
}

.markdown-content table th,
.markdown-content table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

.markdown-content table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* 画像のスタイル */
.markdown-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

.dark-mode .markdown-content{
    color: #ebf4f1;
    a {
        color: #d3d3d3;
    }
}

.markdown-element{
    padding-top: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
}

.markdown-element h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media (1100px > width) {
    .markdown-element{
        padding-top: 5vh;
        padding-left: 10vh;
        padding-right: 10vh;
    }
}

@media (850px > width) {
    .markdown-element{
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
    }
}

@media (750px > width) {
    .markdown-element{
        padding-top: 5vh;
        padding-left: 2vh;
        padding-right: 2vh;
    }
}
